doctype html

head
  title #{title} - Grand Challenge Design
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  script(src="http://code.jquery.com/jquery-2.0.0.min.js")
  link(href="/styles/bootstrap.min.css" rel="stylesheet")
  link(href="/styles/style.css" rel="stylesheet")
  script(src="/js/bootstrap.min.js")
  script(src="/js/register.js")

body 
  // header
  div(class="navbar navbar-default")
    div.container

      div.navbar-header
        div.navbar-brand
          | #[a(href="/" class="link") Grand Challenge Design] | #{title} 

  div.container
    div.row
      div.col-sm-4
      div.col-sm-4#form
        div#err
        form(action="javascript:register()")
          div.form-group
            label(for="email") Email *
            input(type="email" class="form-control" id="email" placeholder="example@me.com" required="true" autofocus)
          div.form-group
            label(for="fname") First Name *
            input(type="text" class="form-control" id="fname" placeholder="John" required="true")
          div.form-group
            label(for="lname") Last Name *
            input(type="text" class="form-control" id="lname" placeholder="Doe" required="true")
          div.form-group
            label(for="password") Password *
            input(type="password" class="form-control" id="password" placeholder="password" required="true")
          div.form-group
            label(for="repassword") Re-enter Password *
            input(type="password" class="form-control" id="repassword" placeholder="password" required="true")
          button(type="submit" class="btn") Register
      div.col-sm-4
