doctype html

head
  title= title
  meta(name="viewport" content="width=device-width, initial-scale=1.0")

  script(src="http://code.jquery.com/jquery-2.0.0.min.js")
  link(href="/styles/bootstrap.min.css" rel="stylesheet")
  link(href="/styles/style.css" rel="stylesheet")
  script(src="/js/bootstrap.min.js")
  script(src="/js/main.js")  

body 
  // header
  div(class="navbar navbar-default")
    div.container

      div.navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        div.navbar-brand
          | #[ #[a(href="/" class="link") Grand Challenge Design] | #{title} ]

      div(class="navbar-collapse collapse")
        ul(class="nav navbar-nav navbar-right")
          if user 
            - link = '/player/' + user
            li #[a(href=link) #{user}] 
            li #[a(href="javascript:logout()") Logout]

          else
            li #[a(href="/login") Log in]
            li #[a(href="/register") Register]

  div.container
    div(style="width: 100%; border:1px solid #000000;padding:20px")
      each i in [1,2,3,4]
        div.row
          p
          div.col-xs-6
            div.row
              div.col-xs-3 
                a(href="/hex/1")
                  div(style="width:86%;border:1px solid #000000;padding-bottom:57.8%") 1 
              div.col-xs-3 
                a(href="/hex/1")
                  div(style="width:86%;border:1px solid #000000;padding-bottom:57.8%") 1                   
              div.col-xs-3 
                a(href="/hex/1")
                  div(style="width:86%;border:1px solid #000000;padding-bottom:57.8%") 1 
              div.col-xs-3 
                a(href="/hex/1")
                  div(style="width:86%;border:1px solid #000000;padding-bottom:57.8%") 1
          div.col-xs-6
            div.row 
              div.col-xs-3 
                a(href="/hex/1")
                  div(style="width:86%;border:1px solid #000000;padding-bottom:57.8%") 1
              div.col-xs-3 
                a(href="/hex/1")
                  div(style="width:86%;border:1px solid #000000;padding-bottom:57.8%") 1
              div.col-xs-3 
                a(href="/hex/1")
                  div(style="width:86%;border:1px solid #000000;padding-bottom: 57.8%") 1
              div.col-xs-3 
                a(href="/hex/1")
                  div(style="width:86%;border:1px solid #000000;padding-bottom:57.8%") 1
        p
        div.row
          div.col-xs-4
            div.row
              div.col-xs-4 
                a(href="/hex/1")
                  div(style="width:100%;border:1px solid #000000;padding-bottom:67%") 1
              div.col-xs-4 
                a(href="/hex/1")
                  div(style="width:100%;border:1px solid #000000;padding-bottom:67%") 1
              div.col-xs-4 
                a(href="/hex/1")
                  div(style="width:100%;border:1px solid #000000;padding-bottom:67%") 1
          div.col-xs-4
            div.row
              div.col-xs-4 
                a(href="/hex/1")
                  div(style="width:100%;border:1px solid #000000;padding-bottom:67%") 1
              div.col-xs-4 
                a(href="/hex/1")
                  div(style="width:100%;border:1px solid #000000;padding-bottom:67%") 1
              div.col-xs-4 
                a(href="/hex/1")
                  div(style="width:100%;border:1px solid #000000;padding-bottom:67%") 1
          div.col-xs-4
            div.row
              div.col-xs-4 
                a(href="/hex/1")
                  div(style="width:100%;border:1px solid #000000;padding-bottom:67%") 1
              div.col-xs-4 
                a(href="/hex/1")
                  div(style="width:100%;border:1px solid #000000;padding-bottom:67%") 1
              div.col-xs-4 
                a(href="/hex/1")
                  div(style="width:100%;border:1px solid #000000;padding-bottom: 67%") 1
      p

       